{% extends "JobCode/index.html" %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <h2>Delete Machine</h2>
            <h2>Are you sure you want to delete the job?"</h2>

            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'machine-list'  %}">Cancel</a>
            </div>
        </form>

    </div>

{% endif %}
{% endblock content %}
