{% extends "JobCode/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Create/Update Machine
{% endblock %}

<!-- Machine create/update form content page -->
{% block content %}
    <div class="content-section">

        <!-- Form -->
        <form method="POST">
            {% csrf_token %}

            <!-- Header area -->
            <div>
                <div class="p-3 mb-2 mt-3 bg-secondary text-white">Create/Update Machine</div>
            </div>

            <!-- Form -->
            {{form|crispy}}

            <!-- Submit button -->
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>

    </div>
{% endblock content %}
