{% extends "JobCode/base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-2 col-md-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a href="{% url 'job-list' %}">Job Code Management</a></li>
      <li class="list-group-item list-group-item-light"><a href="{% url 'machine-list' %}">Machine Management</a></li>
      <li class="list-group-item list-group-item-light"><a href="#">Time Card approval</a></li>
    </ul>
  </div>
  <div class="col-lg-10 col-md-10">
    <div class="text-right">
      <h3><a href="{% url 'machine-create'  %}"> Add New</a></h3>
    </div>

    <table class="table  table-bordered table-hover">
          <thead class="">
            <tr>
              <th scope="col"></th>
              <th scope="col">Machine Code</th>
              <th scope="col">Description</th>
              <th scope="col">Hourly Rent</th>
              <th scope="col">Max Hour Per Day</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for machine in machine_list%}
            <tr>
              <th scope="row"></th>
              <td>{{ machine.machine_code }}</td>
              <td>{{ machine.description }}</td>
              <td>{{ machine.hourly_rent }}</td>
              <td>{{ machine.max_hour_per_day }}</td>
              <td><a href="{% url 'machine-update' machine.id %}">edit</a></td>
              <td><a href="{% url 'machine-delete' machine.id %}">delete</a></td>
            </tr>
            {% endfor %}

          </tbody>
      </table>

  </div>

</div>

{% endblock %}
