{% extends "JobCode/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login Page
{% endblock %}

<!-- Login content page -->
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Hi {{ user.username }}</h1>

    {% else %}
    <form method="POST" action="{% url 'login'  %}">
        {% csrf_token %}
        <div class="">
            <h2 class="border-bottom mb-4">Log In</h2>
            <div class="row">
                <div class="col-sm-6">
                    {{ form|crispy }}
                </div>
            </div>

        </div>
        <div class="">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    {% endif %}


</div>
{% endblock  %}
