{% extends "JobCode/index.html" %}

{% block title %}
Timesheet Review
{% endblock %}

<!-- Timesheet Review content page -->
{% block content %}
<div class="content-section">

    <!-- Form -->
    <form method="POST">

        {% csrf_token %}

        <h2>Timesheet Submission</h2>

        {{ form.as_p }}

        <!-- Submit button -->
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>

</div>
{% endblock content %}